@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    scroll-behavior: smooth;
}

.animated-bounce-one {
    animation: badgeBounce 8s infinite ease-in-out;
}

@keyframes badgeBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animated-bounce-two {
    animation: badgeBounce 12s infinite ease-in-out;
}

@keyframes badgeBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}

.slidingLeft {
    animation: slide_left 900s linear infinite;
}

@keyframes slide_left {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.slidingRight {
    animation: slide_right 900s linear infinite;
}

@keyframes slide_right {
    from {
        transform: translateX(-90%)
    }
    to {
        transform: translateX(0)
    }
}